<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manage Events</title>
    <link rel="stylesheet" href="/public/css/CRUD.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/src/images/Icon.png">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/src/images/logo.png" alt="VIT Logo">
        </div>
        <ul>
            <li class="item"><a href="/src/views/index.html">Home</a></li>
            <li class="item"><a href="/src/views/adminlanding.html">Admin Portal</a></li>
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Manage Events</h1>
    </section>
    <section id="create">
        <h1 class="h-primary">Create an Event</h1>
        <p>Riviera is the Annual International Sports and Cultural Carnival of the Vellore Institute of Technology. It is an International 4-day event that consists of sports competitions, social and cultural events along with concerts.
        </p>
    </section>
    <section id="update">
        <h1 class="h-primary">Update Events</h1>
        <p>Riviera is the Annual International Sports and Cultural Carnival of the Vellore Institute of Technology. It is an International 4-day event that consists of sports competitions, social and cultural events along with concerts.
        </p>
    </section>
    <section id="delete">
        <h1 class="h-primary">Delete an Event</h1>
        <p>Riviera is the Annual International Sports and Cultural Carnival of the Vellore Institute of Technology. It is an International 4-day event that consists of sports competitions, social and cultural events along with concerts.
        </p>
    </section>
</body>
<section id="home">
    <h1 class="h-primary">Manage Events</h1>
</section>
</body>
<script src="/app.js"></script>
<footer>
    <div class="center">
        Copyright &copy; www.Rivera2023.com All rights reserved! Made by Avineesh
    </div>
</footer>
</html>