<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Participants</title>
    <link rel="stylesheet" href="/public/css/events.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/src/images/Icon.png">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/src/images/logo.png" alt="VIT Logo">
        </div>
        <ul>
            <li class="item"><a href="/src/views/index.html">Home</a></li>
            <li class="item"><a href="#events">Events</a></li>
            <li class="item"><a href="/src/views/registered.html">Registered Events</a></li>
            <li class="item"><a href="/src/views/eventmap.html">Events Map</a></li>    
            <li class="item"><a href="#contact">Contact Us</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Rivera 2023: A New World</h1>
        <p>Riviera is the Annual International Sports and Cultural Carnival of the Vellore Institute of Technology. It is an International 4-day event that consists of sports competitions, social and cultural events along with concerts.
        </p>
    </section>
    <section id="events">
        <h1 class="h-primary">Events</h1>
        <p>Riviera is the Annual International Sports and Cultural Carnival of the Vellore Institute of Technology. It is an International 4-day event that consists of sports competitions, social and cultural events along with concerts.
        </p>
    </section>
    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="name" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
            </form>
        </div>
    </section>
    <script src="/app.js"></script>
    <footer>
        <div class="center">
            Copyright &copy; www.Rivera2023.com All rights reserved!
        </div>
    </footer>
</body>
</html>