<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify Participants</title>
    <link rel="stylesheet" href="/public/css/verify.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Bree+Serif&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/src/images/Icon.png">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="/src/images/logo.png" alt="VIT Logo">
        </div>
         <ul>
            <li class="item"><a href="/src/views/index.html">Home</a></li>
        </ul>
    </nav>
    <section id="home">
    </section>
</body>
<script src="/app.js"></script>
<footer>
    <div class="center">
        Copyright &copy; www.Rivera2023.com All rights reserved! Made by Avineesh
    </div>
</footer>
</html>